.crud-legend {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.875rem;
}

.crud-example {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 2px;
}
